body{
	letter-spacing:1.5px;
}
p{
	font-size:20px;
}
.copyright
{
	background-color:black;
	text-align:center;
	color:#fff;
	min-height:50px;
	
}
.info{
	min-height:200px;
}

.menu{min-height:1000px;}
.jumbotron-special
{
	background-image:url('../foodm2.jpg');
	background-attachment:fixed;
    min-height:250px;
    margin-bottom:0px;
	text-align:center;
}
.big{
	font-size:50px;
}
#tandoori{
	min-height:600px;
}
#biryani{
	min-height:600px;
}
#sun{
	min-height:600px;
}
#chef{
	height:400px;
	width:400px;
	border-radius: 350px;
    
    padding: 20px; 
}
.contact{
	min-height:600px;
	
}
.color{
	min-height:150px;
}
.jumbotron1
{
	background-image:url('../food2.jpg');
	background-attachment:fixed;
    min-height:500px;
    margin-bottom:0px;
	text-align:center;
}
.jumbotron2
{
	background-image:url('../back.jpg');
	background-attachment:fixed;
    min-height:500px;
    margin-bottom:0px;
	text-align:center;
}
.jumbotron3
{
	background-image:url('../food4.jpg');
	background-attachment:fixed;
    min-height:500px;
    margin-bottom:0px;
	text-align:center;
}
.big{
	font-size:70px;
}
.navbar { margin-bottom:0px ; }
.carousel-caption { margin-top:0px; }
.jumbotron4
{
	background-image:url('../foodm3.jpg');
	background-attachment:fixed;
    min-height:300px;
    margin-bottom:0px;
	text-align:center;
	color:white;
}
.jumbotron5
{
	background-image:url('../download.jpg');
	background-attachment:fixed;
    min-height:300px;
    margin-bottom:0px;
	text-align:center;
	color:white;
}
.comment{
	min-height:500px;
}
.address{
	min-height:400px;
}
.fa{
		padding:15px;
		font-size:50px;
	}
	.jumbotron6
{
	background-image:url('../background.jpg');
	background-attachment:fixed;
    min-height:550px;
    margin-bottom:0px;
	color:black;
	text-align:center;
}.jumbotron7
{
	background-image:url('../background.jpg');
	background-attachment:fixed;
    min-height:550px;
    margin-bottom:0px;
	color:black;
		text-align:center;
}.jumbotron8
{
	background-image:url('../background.jpg');
	background-attachment:fixed;
    min-height:550px;
    margin-bottom:0px;
	color:black;
	text-align:center;
	
	}

#biryaniimg
	{

	border-radius: 100px;

}
#tikkaimg
{

	border-radius: 100px;
    

}
#lambimg
{

	border-radius: 100px;

    
 }
 #lambKorma{
	 min-height:500px;
	 	background-color:#FFAB91;
 }
 #tikka{
	 min-height:500px;
	 background-color:#FFCC80;
 }
#biryani1{
	min-height:500px;
	background-color:#FFA07A;
}
#popular{
	background-color:#9CCC65   ; 

}
.jumbotron9
{
	background-image:url('../background1.jpg');
	margin-bottom:0px;
}
 #map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
 .subscribe{
	 color:black;
 }
 